@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-fondo;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}