.bg-purple {
    background-color: rgba(231, 206, 244, 0.968);
    font-family: 'Poppins', sans-serif;
  }
  
  .text-logo {
    -webkit-text-stroke: 3px rgb(78, 165, 237);
    letter-spacing: 2px;
    text-shadow: 2px 2px #000;
  }
  
  .carousel-item img {
    height: 350px;
  }
  